<div class="container">
  <h1>CoinMarketCap</h1>
  <input
    type="text"
    class="form-control bg-dark text-light border-0 my-4 text-center rounded-0"
    (keyup)="searchCcy()"
    [(ngModel)]="searchText"
  />

  <table class="table table-dark">
    <thead>
      <tr>
        <th *ngFor="let title of titles">
          {{ title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ccy of filteredCcys; let i = index">
        <td class="text-muted">{{ i + 1 }}</td>
        <td>
          <img [src]="ccy.image" alt="{{ ccy.name }}" style="width: 2rem" />
          <span class="ms-3">{{ ccy.name }}</span>
          <span class="text-muted text-uppercase ms-2">{{ ccy.symbol }}</span>
        </td>
        <td>${{ ccy.current_price.toLocaleString() }}</td>
        <td
          [ngClass]="
            ccy.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'
          "
        >
          {{ ccy.price_change_percentage_24h.toLocaleString() }}
        </td>
        <td>{{ ccy.total_volume.toLocaleString() }}</td>
      </tr>
    </tbody>
  </table>
</div>
